<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../bootstrap.css">
</head>
<body align="center">
<h1 style="color: purple;font-size: 60px;">My Profile</h1>
<div style="background-color: lightgray;margin:10px 450px 100px 450px;border-radius: 5px;">
<h3>Name:<%=result[0].name%></h3>
<h3>Regdno:<%=result[0].regdno%></h3>
<h3>Branch:<%=result[0].branch%></h3>
<h3>Contact:<%=result[0].phone%></h3>
<h3>Parent-Contact:<%=result[0].pphone%></h3>
<h3>Year:<%=result[0].year%></h3>
</body>
</div>
</html>